* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Manrope',sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* ************************************************ */
/* ENTETE */
header {
    background-color: #fff;
    color: #333;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* position: fixed; */
}

/* Logo */
.Logo {
    width: 10%;
    display: flex;
    justify-content: center;
}
#logo {
    width: 90px;
    height: auto;
}

/* Navigation */
nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
Nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a {
    color: #555;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
}
nav a:hover {
    color:rgb(7, 7, 171);
    text-decoration: underline;
}
.socialH {
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.socialH a {
    font-size: 1.5em;
    color: black;
}
.socialH a:hover {
    font-size: 2em;
}
/* ****************************************************************** */
/* Main */
main {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
}

/* welcome */
.welcome {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.welcomeMessage {
    padding: 2em;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
.welcomeMessage h1 {
    font-size: 2.5em;
    text-align: center;
}
.welcomeMessage p {
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}
.welcomeMessage a {
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: rgb(7, 7, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 1.2em;
}
.welcomeMessage a:hover {
    background-color: white;
    color: rgb(7, 7, 104);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 700;
}
.welcomeImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 50%;
}
.welcomeImg img {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

/* pictures */
.pictures {
    /* margin: 5px 5px 5px 30px; */
    box-shadow: rgb(215, 203, 203) 0px 54px 55px, rgba(215, 203, 203, 0.12) 0px -12px 30px, rgba(215, 203, 203, 0.12) 0px 4px 6px, rgba(215, 203, 203, 0.17) 0px 12px 13px, rgba(215, 203, 203, 0.09) 0px -3px 5px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    position: relative;

}
.pictures h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    color: rgb(11, 11, 113);
}
/* galerie */
.galerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 25px;
    padding: 30px;
}
.galerieimg  {
    border-radius: 10px;
    position: relative;
}
.galerie img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.photo-hover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    display: none;
}

.galerieimg:hover .photo-hover {
    display: flex;
}
.subimtVoirplus a {
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: rgb(7, 7, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.subimtVoirplus a:hover {
    background-color: white;
    color: rgb(7, 7, 104);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 700;
}
/* footer */
footer {
    background-color: #cebcbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.lien {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lien a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    margin: 10px;
}
footer a:hover {
    text-decoration: underline;
}
.socialP {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 1%;
}
.socialP a {
    font-size: 1.5em;
    color: black;
}
.socialP a:hover {
    font-size: 2em;
}
.paragraphe {
    margin-bottom: 1%;
}
.paragraphe p {
    font-size: 1.2em;
}

/* icone au survol */

.instagram:hover{
    background: linear-gradient(#833ab4,#fd1d1d,#fcb045);
    -webkit-background-clip: text;
    color: transparent;
}
.youtube:hover {
    background: linear-gradient(#e52d27,#b31217);
    -webkit-background-clip: text;
    color: transparent;
}
.tiktok:hover{
    background: linear-gradient(#000000,#434343);
    -webkit-background-clip: text;
    color: transparent;

}

@media screen and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    nav {
        width: 100%;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .socialH {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .socialH a {
        display: block;
        width: 10%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .instagram:hover {
        background: linear-gradient(#833ab4,#fd1d1d,#fcb045);
        -webkit-background-clip: text;
        color: transparent;
    }
    .socialP .youtube:hover {
        background: linear-gradient(#e52d27,#b31217);
        -webkit-background-clip: text;
        color: transparent;
    }
    .tiktok:hover{
        background: linear-gradient(#000000,#434343);
        -webkit-background-clip: text;
        color: transparent;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .welcome {
        display:flex;
        flex-direction: column-reverse;
    }
    .welcomeMessage {
        margin-top: 10px;
        font-size:0.8em;
        padding: 0;
    }
    .welcomeImg {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .welcomeImg img {
        border-radius: 5px;
        width: 100%;
        height: auto;
   }
   
   .lien a {
    font-size: 1em;
    margin: 0;
   }
   .paragraphe {
    font-size: 0.7em;
    margin: 0;
   }
   .galerie {
    display: flex;
    flex-direction: column;
   }
}

/* contact */
.formulairesection {
    /* box-shadow: rgb(215, 203, 203) 0px 54px 55px, rgba(215, 203, 203, 0.12) 0px -12px 30px, rgba(215, 203, 203, 0.12) 0px 4px 6px, rgba(215, 203, 203, 0.17) 0px 12px 13px, rgba(215, 203, 203, 0.09) 0px -3px 5px; */
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(186, 186, 230);
    color: white;
}
.formulairesection h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    color: rgb(11, 11, 113);
}
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.cnt {
    border-radius: 10px;
    padding: 20px; 
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.cnt a {
    color: rgb(11, 11, 113);
    text-decoration: none;
    font-size: 1.2em;
}
.whastapp:hover {
    background:#25D366;
}
.contact .youtube:hover{
    background:#FF0000;
    color: rgb(11, 11, 113);
}
.email:hover {
    background:linear-gradient(#00c6ff,#0072ff);
}
.asset {
    font-size: 2em;
    padding-bottom: 3px;
}
.asset:hover {
    color: rgb(11, 11, 113);
}
@media (max-width:768px) {
    .formulairesection {
        margin: 2rem, 1rem;
        max-width: 100%;
    }
    .formulairesection h2 {
        font-size: 1.5rem;
    }
    .contact{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

/* apropos */
.apropos {
    border-radius: 20px;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(186, 186, 230);
    color: black;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.apropos h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #0d2f59;
    font-size: 2em;
}
@media (max-width:768px) {
    .apropos {
        max-width: 500px;
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-apropos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}

/* page galerie */
.galerie-45ans {
    /* margin: 5px 5px 5px 30px; */
    box-shadow: rgb(215, 203, 203) 0px 54px 55px, rgba(215, 203, 203, 0.12) 0px -12px 30px, rgba(215, 203, 203, 0.12) 0px 4px 6px, rgba(215, 203, 203, 0.17) 0px 12px 13px, rgba(215, 203, 203, 0.09) 0px -3px 5px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 60px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    position: relative;

}
.title45ans h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    color: rgb(11, 11, 113);
}
.picture45ans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 25px;
    padding: 30px;
}
.picture45ans img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@media (max-width:768px) {
    .picture45ans {
        display: flex;
        flex-direction: column;
    }
    .title45ans h1 {
        font-size: 1.3em;
        padding-top: 15px;
    }
}